[worldserver]

###################################################################################################
#    Progression.Phase
#        Description: The currently active phase. It will always include all content up to and including the set phase.
#                     0 - Phase 0: Leveling & Dungeons
#                     1 - Phase 1: Maraudon, Molten Core, Onyxia's Lair
#                     2 - Phase 2: Dire Maul, Azuregos, Lord Kazzak, Alterac Valley, Warsong Gulch
#                     3 - Phase 3: Blackwing Lair, Darkmoon Faire, Arathi Basin
#                     4 - Phase 4: Zul'Gurub, Dragons of Nightmare
#                     5 - Phase 5: Ahn'Qiraj, Stranglethorn Fishing Extravaganza
#                     6 - Phase 6: Naxxramas, Scourge Invasion
#                     7 - Phase 7: Blood Elf, Draenei, Jewelcrafting, Eye of the Storm
#                     8 - Phase 8: Outland Leveling & Dungeons
#                     9 - Phase 9: Karazhan, Gruul's Lair, Magtheridon's Lair, Arena Season 1
#                     10 - Phase 10: Serpentshrine Cavern, Tempest Keep: The Eye, Ogri'la, Sha'tari Skyguard, Arena Season 2
#                     11 - Phase 11: Battle for Mount Hyjal, Black Temple, Arena Season 3
#                     12 - Phase 12: Zul'Aman
#                     13 - Phase 13: Isle of Quel'Danas, Magister's Terrace, Sunwell Plateau, Arena Season 4
#                     14 - Phase 14: Death Knight, WotLK Leveling & Dungeons
#                     15 - Phase 15: Naxxramas, Eye of Eternity, Obsidian Sanctum, Vault of Archavon, Arena Season 5
#                     16 - Phase 16: Ulduar, Isle of Conquest, Arena Season 6
#                     17 - Phase 17: Trial of the Crusader, Trial of the Champion, Argent Tournament Grounds, Onyxia's Lair, Arena Season 7
#                     18 - Phase 18: Forge of Souls, Pit of Saron, Halls of Reflection, Icecrown Citadel, Arena Season 8
#        Default:     19 - Phase 19: Ruby Sanctum
#

Progression.Phase = 19

#
#    Progression.IcecrownCitadel.Aura
#        Description: Set the aura inside Icecrown Citadel
#                     0 - No buff
#                     1 - 5%
#                     2 - 10%
#                     3 - 15%
#                     4 - 20%
#                     5 - 25%
#        Default:     6 - 30%
#

Progression.IcecrownCitadel.Aura = 6

#
#    Progression.Reset
#        Description: Reapply all SQL files on startup
#                     This is useful when moving to an older phase, after making changes or to make sure it's up-to-date
#        Default:     0 - Disabled
#                     1 - Enabled
#

Progression.Reset = 0

#
###################################################################################################
